header {
    height: 8.3rem;
    background: url("../images/elem-bg-univ-mini.png");

    nav.bg-light {
        background-color: transparent !important;
        border-color: transparent;
        background-image: none;
        box-shadow: none;
    }

    .navbar-toggler {
        background-color: #fff;
    }
}

@media (min-width: 992px) {
    .links-center {
        position: relative;
        width: 30rem;

        p {
            &:nth-child(1) {
                position: absolute;
                top: calc(8.3rem/2);
                left: 0;
                transform: translateY(-50%);
            }

            &:nth-child(2) {
                position: absolute;
                top: calc(8.3rem/2);
                right: 0;
                transform: translateY(-50%);
            }

            a {
                position: relative;
                display: inline-block;
                text-decoration: none;
                color: $white;
                font-size: 2.2rem;
                transition: transform 0.2s;

                &:hover {
                    transform: scale(0.9);
                }

                &::before {
                    position: absolute;
                    top: -2px;
                    left: -7px;
                    box-sizing: content-box;
                    padding: 0 5px;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $white;
                    content: '';
                    opacity: 0;
                    transform: scale(0.9);
                }
                &:hover::before {
                    opacity: 1;
                    transform: scale(1.2);
                }
            }
        }


    }

    .links-icons {
        position: relative;
        width: 32rem;
        height: 13.7rem;

        a {
            &:nth-child(1) {
                position: absolute;
                top: 3px;
                right: 8.1rem;
            }

            &:nth-child(2) {
                position: absolute;
                top: 3px;
                right: 15.9rem;

            }

            &:nth-child(3) {
                position: absolute;
                top: 3px;
                right: 23.7rem;

            }
        }

        img:last-child {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}