// main
$white: #fff;
$grey: #878787;
$blue: #081348;

// icons
$icon-grey: #888888;
$icon-red: #e2071a;
$icon-green: #52c306;

// bars
$bar-blue: #404972;
$bar-green: #52c306;

// Base Font
$base-font-family: 'Lato', sans-serif;

// Form
$form-border: #ededed;

// Buttons
$btn-blue: #1e3a87;
$btn-grey:#626262;

// cards
$card-black: #0a164a;